<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/signIn.css" type="text/css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<header>
    <div class="top-bar">
        <a href="signIn.html" class="logo">커뮤니티</a>
        <a href="signIn.html" class="signIn">로그인</a>
    </div>
</header>
<body>
<div class="container">
    <div class="form">
        <div class="login-form">
            <input class="input1" type="text" placeholder="ID를 입력해주세요"><br>
            <input class="input1" type="password" placeholder="비밀번호를 입력해주세요"><br>
            <a class="button">로그인</a>
            <div class="signoption"><a href="search">계정찾기</a><a href="signUp.html">회원가입</a></div>
        </div>

    </div>
    <div class="social">
        <div class="social-form"><a href="#google"><img src="../../static/assets/google_logo.png" class="icon"><span class="buttonText">구글로 시작하기</span></a>
        </div>
        <div class="social-form"><a href="#naver"><img src="../../static/assets/naver_logo.png" class="icon"><span class="buttonText">네이버로 시작하기</span></a>
        </div>

    </div>
</div>

</body>
</html>