<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div class="sidebar">
    <h1>카테고리</h1>
    <form th:action="@{/admin/category}">
        <input type="text" th:name="name" placeholder="이름" required>
    </form>
</div>
</body>
</html>

