<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<div id="wrapper">
    <div th:insert="header.html" id="header"></div>
    

    <table class="board">
        <thead>
        <tr>
            <th class="board-num">번호</th>
            <th class="board-title">글제목</th>
            <th class="board-writer">작성자</th>
            <th class="board-date">작성일</th>
            <th class="board-hits">조회수</th>
            <th class="board-comment">댓글수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{${category.name} +'/detail/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
                <span th:text="${board.hit}"></span>
            </td>
            <td>
                <span th:text="${board.commentcount}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="page-control">
        <div class="list-num">
            <span th:each="pageNum : ${pageList}" th:inline="text">
    			<a th:href="@{${category.name} + '?page=' + ${pageNum}}" class="pageindex">[[${pageNum}]]</a>
    		</span>
        </div>
        <a th:href="@{${category.name} + '/writing'}" class="writing">
            글쓰기
        </a>
    </div>
</div>


</html>