<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<div id="wrapper">
    <header>
        <div class="top-bar">
            <a href="#HomePage" class="logo">커뮤니티</a>
            <div class="search-container">
                <form action="action_page.php">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" placeholder="Search" name="search"></form>
            </div>
            <div class="top-bar-right"><a href="#Alarm" class="Alarm"><i class="far fa-bell"></i></a>

                <a th:href="@{/user/login}" class="SignIn">
                    SignIn
                </a>
                <a th:href="@{/signup}" class="SignUp">
                    SignUp
                </a></div>
        </div>
    </header>
    <body>
    <div class="tab">
        <ul>
            <a th:href="@{#con1}">
                <li data-id="con1" class="on">Home</li>
            </a>
            <a th:href="@{#con2}">
                <li data-id="con2">자유</li>
            </a>
            <a th:href="@{#con3}">
                <li data-id="con3">팁</li>
            </a>
            <a th:href="@{#con4}">
                <li data-id="con4">추천</li>
            </a>
            <a th:href="@{#con5}">
                <li data-id="con5">고민</li>
            </a>
        </ul>
        <div id="con1" class="conBox on">
            <div class="container">
                <div>
                    <h1>추천 게시판</h1>
                    <table class="table-1">
                        <tr th:each="board : ${boardList}">
                            <td th:text="${board.title}" class="table-1-title"></td>
                            <td th:text="${board.recom}" class="table-1-rec"></td>
                            <td th:text="${board.views}" class="table-1-views"></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h1>자유 게시판</h1>
                    <table class="table-1">
                        <tr th:each="board : ${boardList}">
                            <td th:text="${board.title}" class="table-1-title"></td>
                            <td th:text="${board.recom}" class="table-1-rec"></td>
                            <td th:text="${board.views}" class="table-1-views"></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h1>팁 게시판</h1>
                    <table class="table-1">
                        <tr th:each="board : ${boardList}">
                            <td th:text="${board.title}" class="table-1-title"></td>
                            <td th:text="${board.recom}" class="table-1-rec"></td>
                            <td th:text="${board.views}" class="table-1-views"></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h1>고민 게시판</h1>
                    <table class="table-1">
                        <tr th:each="board : ${boardList}">
                            <td th:text="${board.title}" class="table-1-title"></td>
                            <td th:text="${board.recom}" class="table-1-rec"></td>
                            <td th:text="${board.views}" class="table-1-views"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="con2" class="conBox">
            <h1 class="title">자유 게시판</h1>
            <table class="board">
                <thead>
                <tr>
                    <th scope="cols" class="con-board-num">번호</th>
                    <th scope="cols" class="con-board-head">말머리</th>
                    <th scope="cols" class="con-board-title">제목</th>
                    <th scope="cols" class="con-board-writer">글쓴이</th>
                    <th scope="cols" class="con-board-date">작성일</th>
                    <th scope="cols" class="con-board-views">조회</th>
                    <th scope="cols" class="con-board-recom">추천</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.number}"></td>
                    <td th:text="${board.head}"></td>
                    <td><a th:href="@{'/post' + ${board.id}}"><span th:text="${board.title}"></span></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${board.date}"></td>
                    <td th:text="${board.views}"></td>
                    <td th:text="${board.recom}"></td>
                </tr>
                </tbody>
            </table>
            <div class="page-control">
                <div class="list-num"><a href="#previousPage" class="pageindex">이전</a><a
                        th:each="i: ${#numbers.sequence(1, 10)}"><a th:text="${i}"></a></a><a
                        href="#nextPage" class="pageindex">다음</a><a href="#endPage"
                                                                    class="pageindex">끝</a>
                    <a th:href="@{/writing}" class="writing">
                        글쓰기
                    </a>
                </div>
            </div>
        </div>
        <div id="con3" class="conBox">
            <h1 class="title">팁 게시판</h1>
            <table class="board">
                <thead>
                <tr>
                    <th scope="cols" class="con-board-num">번호</th>
                    <th scope="cols" class="con-board-head">말머리</th>
                    <th scope="cols" class="con-board-title">제목</th>
                    <th scope="cols" class="con-board-writer">글쓴이</th>
                    <th scope="cols" class="con-board-date">작성일</th>
                    <th scope="cols" class="con-board-views">조회</th>
                    <th scope="cols" class="con-board-recom">추천</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.number}"></td>
                    <td th:text="${board.head}"></td>
                    <td><a th:href="@{'/post' + ${board.id}}"><span th:text="${board.title}"></span></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${board.date}"></td>
                    <td th:text="${board.views}"></td>
                    <td th:text="${board.recom}"></td>
                </tr>
                </tbody>
            </table>
            <div class="page-control">
                <div class="list-num"><a href="#previousPage" class="pageindex">이전</a><a
                        th:each="i: ${#numbers.sequence(1, 10)}"><a th:text="${i}"></a></a><a
                        href="#nextPage" class="pageindex">다음</a><a href="#endPage"
                                                                    class="pageindex">끝</a>
                    <a th:href="@{/writing}" class="writing">
                        글쓰기
                    </a>
                </div>
            </div>
        </div>
        <div id="con4" class="conBox">
            <h1 class="title">추천 게시판</h1>
            <table class="board">
                <thead>
                <tr>
                    <th scope="cols" class="con-board-num">번호</th>
                    <th scope="cols" class="con-board-head">말머리</th>
                    <th scope="cols" class="con-board-title">제목</th>
                    <th scope="cols" class="con-board-writer">글쓴이</th>
                    <th scope="cols" class="con-board-date">작성일</th>
                    <th scope="cols" class="con-board-views">조회</th>
                    <th scope="cols" class="con-board-recom">추천</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.number}"></td>
                    <td th:text="${board.head}"></td>
                    <td><a th:href="@{'/post' + ${board.id}}"><span th:text="${board.title}"></span></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${board.date}"></td>
                    <td th:text="${board.views}"></td>
                    <td th:text="${board.recom}"></td>
                </tr>
                </tbody>
            </table>
            <div class="page-control">
                <div class="list-num"><a href="#previousPage" class="pageindex">이전</a><a
                        th:each="i: ${#numbers.sequence(1, 10)}"><a th:text="${i}"></a></a><a
                        href="#nextPage" class="pageindex">다음</a><a href="#endPage"
                                                                    class="pageindex">끝</a>
                    <a th:href="@{/writing}" class="writing">
                        글쓰기
                    </a>
                </div>
            </div>
        </div>
        <div id="con5" class="conBox">
            <h1 class="title">고민 게시판</h1>
            <table class="board">
                <thead>
                <tr>
                    <th scope="cols" class="con-board-num">번호</th>
                    <th scope="cols" class="con-board-head">말머리</th>
                    <th scope="cols" class="con-board-title">제목</th>
                    <th scope="cols" class="con-board-writer">글쓴이</th>
                    <th scope="cols" class="con-board-date">작성일</th>
                    <th scope="cols" class="con-board-views">조회</th>
                    <th scope="cols" class="con-board-recom">추천</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.number}"></td>
                    <td th:text="${board.head}"></td>
                    <td><a th:href="@{'/post' + ${board.id}}"><span th:text="${board.title}"></span></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${board.date}"></td>
                    <td th:text="${board.views}"></td>
                    <td th:text="${board.recom}"></td>
                </tr>
                </tbody>
            </table>
            <div class="page-control">
                <div class="list-num"><a href="#previousPage" class="pageindex">이전</a><a
                        th:each="i: ${#numbers.sequence(1, 10)}"><a th:text="${i}"></a></a><a
                        href="#nextPage" class="pageindex">다음</a><a href="#endPage"
                                                                    class="pageindex">끝</a>
                    <a th:href="@{/writing}" class="writing">
                        글쓰기
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $(".tab ul a li").click(function () {
                $(".tab ul a li").removeClass('on');
                $(".tab .conBox").removeClass('on');
                $(this).addClass('on');
                $("#" + $(this).data('id')).addClass('on');
            });
        });
    </script>
    </body>
</div>


</html>