<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/signIn.css}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<header>
    <div class="top-bar">
        <a href="signIn.html" class="logo">커뮤니티</a>
        <a href="signIn.html" class="signIn">로그인</a>
    </div>
</header>
<body>
<div class="container">
    <form action="/">
        <div class="row">
            <h1 class="signIn-caption">로그인</h1>
            <div class="vl"><span class="vl-innertext">or</span></div>
            <div class="col">
                <div class="hide-md-lg">
                    <p>Or sign in manually:</p>
                </div>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </div>
            <div class="col">
                <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a href="#" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                </a>
                <a href="#" class="google btn">
                    <i class="fa fa-google fa-fw"></i> Login with Google+
                </a>
            </div>
        </div>
    </form>
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="#" style="color: white" class="btn">Sign up</a>
            </div>
            <div class="col">
                <a href="#" style="color: white" class="btn">Forgot password?</a>
            </div>
        </div>
    </div>
</div>



</body>
</html>