<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/signUp.css}" type="text/css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<header>
    <div class="top-bar">
        <a href="signUp.html" class="logo">커뮤니티</a>
        <a href="signUp.html" class="signIn">회원가입</a>
    </div>
</header>
<body>
<form th:action="@{/user/signup}" class="container" method="post">
    <div class="form">
        <label for="Id"><b>ID</b></label>
        <input type="text" placeholder="ID 를 입력해주세요" name="ID" required>
        <label for="psw"><b>비밀번호</b></label>
        <input type="password" placeholder="비밀번호를 입력해주세요" name="psw" required>
        <label for="psw-repeat"><b>비밀번호 확인</b></label>
        <input type="password" placeholder="비밀번호를 다시 입력해주세요" name="psw-repeat" required>
        <label for="nickname"><b>닉네임</b></label>
        <input type="text" placeholder="닉네임을 입력해주세요" name="nickname" required>
        <label for="email"><b>E-mail</b></label>
        <input type="text" placeholder="E-mail 을 입력해주세요" name="email" required>
        <label><input type="checkbox" checked="checked" name="remember"> 개인정보 및 약관 동의</label>
        <p>By creating an account you agree to our <a href="#agree" style="color: dodgerblue"> Terms & Privacy</a></p>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>

    </div>
</form>

</body>
</html>